
@model WebShoppingOnline.Models.EF.Post
@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .news_section_container {
        margin-top: 200px;
    }

    .title-news {
        font-size: 40px;
        border-bottom: 1px solid #ff0000;
        padding: 15px 0;
        margin-bottom: 25px;
    }
</style>
<div class="container news_section_container">

    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model != null)
            {
                <div class="col-md-12" style="font-weight:bolder;">
                    <h3>
                        @Model.Title
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.Image" width="60%" height="60%"/>
                    </div>
                    <div class="col-md-">
                        @Html.Raw(Model.Detail)
                    </div>
                </div>
            }
        </div>
    </div>
</div>


